@import "./reset.css";

:root{
  --primary-color: black;
  --secondary-color: #6a6a6a;
  --primary-bg-color: lightblue;
  --secondary-bg-color: white;

  --font-primary: "Inter";
  --font-secondary: "arial";
}



body{
  background-color: var(--primary-bg-color);
  color: var(--primary-color);

}
.page-container{
  max-width: 60rem;
  margin: 10px auto;
}

/* End of page container */

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  

}
.logo{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem ;
}

.navigation{
  display:flex;
  justify-content: center;
  column-gap: 20px;
}

.navigation > div >a{
  color: var(--primary-color);
  text-decoration: none;
}

/*  End of Navigation  */



.hero-section-container{
  padding: 1rem;
  display: grid ;
  grid-template-columns: 1fr 1fr;
 
}
.hero-section-container>div:first-child{
  align-self: center;

}
.hero-section-container>div:last-child >div{
  max-width: 400px;
 
}


/* end of hero-section */




.quality-wrapper{
  display: flex;
  align-items: center;
  column-gap: 2rem;

}
.quality-wrapper > div{
  background-color: white;
  border-radius: 9px;
  padding: 24px;
  width: calc(100%-48px);
  border: none;
  box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.16);
}

/* end of quality section */

.photo-feature{
  display: flex;
  align-items: center;
  flex-direction: column;
  column-gap: 3rem;
  margin-bottom: 10rem;

}
.add-image{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  
  

}
.add-image >div{
  flex-direction: column;
  
}
.img-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}


/*End of photo feature */


.footer1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.footer > div >div{
  background-color: white;
   
}
.footer:first-child{
  margin-bottom: 10rem;
}
.addform {
  padding: 1rem;
  border: none;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.lastpart{
  display: flex;
  justify-content: space-around;
}


